<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="../vue.min.js"></script>
<body>

    <div id="app">
        <input type="checkbox" v-model="ok"></input>
        <div v-if="ok">选中的</div>
        <div v-else>没有选中的</div>
    <br/>
        <script>
            new Vue({
                el:"#app",
                data:{
                    ok:"true"
                },
                methods:{
                    show(){
                    console.log("打印了一句话。。。")
                    }
                }
        
            })
        
        
        </script>
</body>

</html>